{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    By
    {% if post.fediverse_handle %}
      {% set user, host = post.fediverse_handle.split('@')[1:] %}
      <a href="https://{{ host }}/@{{ user }}">{{ post.author or '@' ~ user ~ '@' ~ host }}</a>
    {% else %}
      {{ post.author }}
    {% endif %}
    on {{ post.pub_date }}
  </p>
  {{ post.body }}
  </div>
{% endmacro %}

{% macro future_title_date_link(post, from_index=false) %}
  {% if post.future %}
  <li><a href="{{ post|url }}">{{ post.title }}</a> &mdash; {{ post.pub_date }} </li>
  {% endif %}
{% endmacro %}

{% macro title_date_link(post, from_index=false) %}
  {% if not post.future%}
  <li><a href="{{ post|url }}">{{ post.title }}</a> &mdash; {{ post.pub_date }} </li>
  {% endif %}
{% endmacro %}
