{% extends "layout.html" %}
{% block meta_image %}
  {% if this.image is defined and this.image_width is defined and this.image_height is defined %}
    <meta property="og:image" content="{{ this.image }}"/>
    <meta property="og:image:width" content="{{ this.image_width }}"/>
    <meta property="og:image:height" content="{{ this.image_height }}"/>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
{% block meta_title %}
  {% if this.title is defined %}
    <meta property="og:title" content="{{ this.title }}"/>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
{% block meta_description %}
  {% if this.ogdescription is defined %}
    <meta property="og:description" content="{{ this.ogdescription }}"/>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
{% block title %}{{ this.title }}{% endblock %}
{% block subtitle %}{{ this.subtitle }}{% endblock %}
{% block body %}
  <h2 class="page-title">{{ this.title }}</h2>
  <h3 class="page-subtitle">{{ this.subtitle }}</h3>
  {{ this.body }}
  <script src="add_email.js"></script>
  
{% endblock %}
