body{
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p{
   text-align: left;
}

#logo{
   text-align: center;
}
#logo > img{
   border-radius: 50%;
}

.nine.columns, .three.columns{
   margin-top: 50px;
}

.page-title{
   font-size: 62px;
   font-weight: 600;
   margin-bottom: 0;
   margin-top: 30px;
   letter-spacing: 0.5px;
}
.page-subtitle{
   margin-top: 6px;
   font-size: 28px;
   position: relative;
   padding-left: 15px;
}
.page-subtitle:before{
   content: "";
   display: block;
   height: 0.75em;
   width: 8px;
   background-color: #8aaad9;
   position: absolute;
   top: 0.3em;
   left: 0;
}
.index-title{
   font-size: 52px;
   font-weight: normal;
   margin-bottom: 30px;
   margin-top: 30px;
   letter-spacing: 0.5px;
}

pre {
    font-family: 'monaco';
    font-size: 0.8em;
    background-color: #FAF9F9;
    border-radius: 6px;
    padding: 8px;
    line-height: 140%;
}

pre code {
    font-family: 'monaco';
    background-color: #272822;
    color: #fff;
}

nav ul {
   list-style: none;
   max-width: 170px;
   margin: 0 auto;
}

nav a {
   color: #222;
   padding-left: 10px;
   position: relative;
   font-size: 17px;
}

nav a:hover, nav a:focus{
   color: #50B990;
}

nav a::before {
   content: "";
   display: block;
   height: 0.75em;
   width: 4px;
   background-color: transparent; /* Default to transparent */
   position: absolute;
   top: 0.25em;
   left: 0;
}

nav li.active a::before {
   background-color: #8aaad9; /* Only active links get blue */
}